$font-family: 'Roboto', sans-serif;
$font-size: 16px;
$font-color: #373941;
$background: #FAFAFA;

$header-background: blue;
$header-color: white;

$border: 1px solid #E0E0E0;

$rating-background: green;
$rating-color: white;

$add-background: blue;
$add-color: white;